<div class="container">
  <div class="row">
    <div class="col" *ngFor="let chat of  randomCat" >
        <img [src]="chat.url" class="img-fluid" style="height: 500px; width: 500px;"  (click)="onClickChat(chat)">
    </div>
  </div>
</div>
